body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1514361892635-6b07e31e75f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y29ja3RhaWwlMjBtaXhvbG9naXN0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #ede0d4;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  background: #ede0d4;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.Text-box {
  width: 90%;
  text-align: center;
  color: #ede0d4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Text-box h1 {
  font-size: 62px;
}

.Text-box p {
  margin: 10px 0 40px;
  font-size: 15px;
  color: #ede0d4;
  font-weight: 700;
}

#Search-cocktail {
  color: #ede0d4;
  text-decoration: none;
  border: 0.5px solid #ede0d4;
  position: relative;
  background: transparent;
  font-size: 13px;
  display: inline-block;
  padding: 12px 34px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 300;
}

#Search-cocktail:hover {
  border: 1px solid #cd9777;
  transition: 1s;
  background: #cd9777;
}

#results-section h2 {
  margin-top: 80px;
  text-align: center;
  color: #000814;
  text-decoration: underline;
}

#results {
  display: flex;
  gap: 25px;
  margin-top: 70px;
  padding: 40px;
  justify-content: center;
}
#results div {
  flex: 0 1 250px;
}

#results h5 {
  color: #ede0d4;
  background-color: #472c1b;
  padding: 10px;
  border-radius: 20px;
  border: 0;
  margin-top: 20px;
}

#results img {
  width: 100%;
  display: block;
  border-radius: 15px;
  object-fit: fill;
  display: flex;
}

.hide {
  display: none;
}

.visible {
  display: block;
}

#Categories-section h2 {
  margin-top: 80px;
  text-align: center;
  color: #000814;
  text-decoration: underline;
}

#categories {
  display: inline-flex;
  gap: 80px;
  margin-top: 70px;
  padding: 40px;
}

#categories button {
  color: #ede0d4;
  background-color: #472c1b;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: 0;
  margin-top: 20px;
}

#categories img {
  width: 100%;
  display: block;
  border-radius: 15px;
  object-fit: fill;
  display: flex;
}

#Reviews {
  text-align: center;
  width: 80%;
  padding-top: 70px;
  margin: auto;
}

.reviews-rows {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.reviews-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #f3deba;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.reviews-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.reviews-col p {
  padding: 0px;
}

.reviews-col h3 {
  text-align: left;
  margin-top: 15px;
}

.reviews-col .fa {
  color: #472c1b;
}

#Reviews h1 {
  text-decoration: underline;
  color: #000814;
}

#footer {
  text-align: center;
  margin: auto;
}
#footer h1 {
  text-decoration: underline;
}

#footer-fa {
  color: #472c1b;
  display: inline-block;
  margin-right: 0px 13px;
  cursor: pointer;
  padding: 18px 0;
}

#results > div {
  position: relative;
}

#categories > div {
  position: relative;
}
#results > div li {
  position: absolute;
  top: 0px;
  display: inline-block;
  width: 100%;
  left: 0px;
  right: 0px;
  height: 48px;
  z-index: 1000;
}

#drinks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#drinks > div {
  flex: 0 1 240px;
}
#drinks > div > img {
  width: 100%;
  border-radius: 8px;
}
#drinks > div > p.drink-name {
  padding: 2px 12px;
  font-weight: bold;
}
#drinks > div > p.drink-link {
  padding: 2px 12px;
  color: #472c1b;
  font-weight: 200;
}

#modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.modal-content {
  overflow-y: auto;
  background-color: #fff;
  flex: 0 1 320px;
  max-height: 80vh;
  border-radius: 12px;
  padding-bottom: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-image {
  display: block;
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}
.modal-name {
  font-weight: bold;
  text-align: center;
}
.modal-section-title {
  text-align: center;
  text-decoration: underline;
  color: #472c1b;
  font-weight: 200;
  font-size: medium;
}
.ingredient-container {
  text-align: center;
}

.modal-description {
  text-align: center;
}
